:root{
    --primary-color:red;
    --secondary-color: black;
    --primary-text: white;
    --secondary-text: grey;
}

body{
    margin: 0px;
    height: 100vh;
    background-color: black;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    /* height: 100vh; */
    /* align-items: top; */
    background-image: url(./img/fondo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: transparent;
}

.headerDerecha{
    /* width: 20%; */
    display: flex;
    height: 50px;
    align-items: center;
    /* justify-content: space-around; */
}

header h1{
    margin: 0px;
    font-size: 2.5rem;
    color: var(--primary-color);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:#fff;
    width: 40vw;
    /* font-family: inherit; */
}

.search:focus{
    outline:0;
    background-color: var(--secondary-color);
}

.search::placeholder{
    color: var(--secondary-text);
}

#idioma{
    background-color: transparent;
    border: 2px solid var(--primary-color);
    padding:0.5rem 1rem;
    border-radius: 50px;
    font-size: 1rem;
    color:var(--primary-text);
}

#idioma:focus{
    outline:0;
    background-color: var(--secondary-color);
}

#idioma::placeholder{
    color: var(--primary-text);
}

.carousel{
    display: flex;
    flex-wrap: nowrap;
    justify-content: inherit;
    /* height: 60vh; */
}
.pelicula{
    position: relative;
    /*width: 100%;*/
    /* margin: .3rem; */
    /* border-radius: 3px; */
    /* box-shadow: 0.2PX 4PX 5PX rgba(0,0,0,0.1); */
    /* background-color: var(--secondary-color); */
    /*overflow: hidden;*/
    /* min-width: 10%; */
    /*min-height: 5%;*/
	/* transition: .3s ease all; */
	/*box-shadow: 5px 5px 10px 0px rgba(0,0,0, .3);*/
}

.pelicula img{
    width: 100%;
}

.descripcion{
    position: absolute;
    left: 0;
    right: 0;
    bottom: -30px;
    background-color: #fff;
    padding: .5rem;
    max-height: 100%;
    /*min-width: 20%;*/
    transform: translateY(100.1%);
    transition: transform 0.3s ease-in;
}

.pelicula:hover .descripcion{
    transform: translateY(0);
}


/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-populares {
	margin-bottom: 70px;
}

.peliculas-populares .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-populares .contenedor-principal .flecha-izquierda,
.peliculas-populares .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0,0,0,0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: #fff;
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-populares .contenedor-principal .flecha-izquierda:hover,
.peliculas-populares .contenedor-principal .flecha-derecha:hover {
	background: rgba(0,0,0, .9);
}

.peliculas-populares .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-populares .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-populares .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-populares .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-populares .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
    max-width: 25%;
    /* height: 80vh; */
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.peliculas-populares .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-populares .contenedor-carousel .carousel .pelicula img {
	/* height: 50vh; */
	vertical-align: top;
}

.descripcion {
    padding: 1rem;
    box-shadow: 3rem;
    /* height: 30vh; */
    overflow: scroll;
}

.descripcion .title, .title-cast, .title-release  {
    font-weight: bolder;
}

.descripcion .overview, .cast{
    font-size: smaller;
    text-align: justify;
}